---
import HeaderLink from "./HeaderLink.astro";
import { SITE_TITLE, SITE_SUBTITLE } from "../config";
---

<header class="header">
	<div class="header-section">
		<div class="header-frame">
			<script is:inline>
				function navigateToPosts() {
					window.location.href = "/";
				}
			</script>
			<div class="header-container">
			<h2 class="website-header-icon" onclick="navigateToPosts()" style="cursor: pointer;">{SITE_SUBTITLE}</h2>
			<h3 class="website-header-title">Piyush's Blog </h3>
			</div>
		</div>
	</div>
</header>
{Astro.props.hideNav ? '' :
<nav>
    <HeaderLink class="navigation_title" href="/">posts</HeaderLink>
    <HeaderLink class="navigation_title" href="/about">about</HeaderLink>
</nav>
}
<style>
	/* h2 {
		margin: 0.5em 0;
	} */
</style>
